@font-face {
  font-family: "Icons16";
  font-style: normal;
  font-weight: normal;
  src: url("/fonts/icons/icons-16.eot?#iefix") format("embedded-opentype"),
  url("/fonts/icons/icons-16.woff") format("woff"),
  url("/fonts/icons/icons-16.ttf") format("truetype"); }

@font-face {
  font-family: "Icons20";
  font-style: normal;
  font-weight: normal;
  src: url("/fonts/icons/icons-20.eot?#iefix") format("embedded-opentype"),
  url("/fonts/icons/icons-20.woff") format("woff"),
  url("/fonts/icons/icons-20.ttf") format("truetype");
}


@font-face {
	font-family: 'G';
	src: url('/fonts/g/G-Light.eot');
	src: url('/fonts/g/G-Light.eot?#iefix') format('embedded-opentype'),
		url('/fonts/g/G-Light.woff') format('woff'),
		url('/fonts/g/G-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'G';
	src: url('/fonts/g/G.eot');
	src: url('/fonts/g/G.eot?#iefix') format('embedded-opentype'),
		url('/fonts/g/G.woff') format('woff'),
		url('/fonts/g/G.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'G';
	src: url('/fonts/g/G-Medium.eot');
	src: url('/fonts/g/G-Medium.eot?#iefix') format('embedded-opentype'),
		url('/fonts/g/G-Medium.woff') format('woff'),
		url('/fonts/g/G-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'G';
	src: url('/fonts/g/G-Bold.eot');
	src: url('/fonts/g/G-Bold.eot?#iefix') format('embedded-opentype'),
		url('/fonts/g/G-Bold.woff') format('woff'),
		url('/fonts/g/G-Bold.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'G';
	src: url('/fonts/g/G-Black.eot');
	src: url('/fonts/g/G-Black.eot?#iefix') format('embedded-opentype'),
		url('/fonts/g/G-Black.woff') format('woff'),
		url('/fonts/g/G-Black.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'G-Narrow-Medium';
	src: url('/fonts/g/G-Narrow-Medium.eot');
	src: url('/fonts/g/G-Narrow-Medium.eot?#iefix') format('embedded-opentype'),
		url('/fonts/g/G-Narrow-Medium.woff') format('woff'),
		url('/fonts/g/G-Narrow-Medium.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'G-Narrow-Bold';
	src: url('/fonts/g/G-Narrow-Bold.eot');
	src: url('/fonts/g/G-Narrow-Bold.eot?#iefix') format('embedded-opentype'),
		url('/fonts/g/G-Narrow-Bold.woff') format('woff'),
		url('/fonts/g/G-Narrow-Bold.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
