// UI KIT
@import '../../../node_modules/@blueprintjs/core/dist/blueprint.css';
@import '../../../node_modules/@blueprintjs/core/dist/variables.scss';

$red1: #FF6E69;
$red2: #FF2017;
$red3: #F01D16;
$red4: #D41913;
$red5: #96120E;

//imports
@import './imports/fonts';
@import './imports/reset';
@import './imports/scrollbars';

//common
@import '../components/common/menu/Menu_group';
@import '../components/common/form/Form';
@import '../components/common/player/Timeline';


//pages
@import '../components/pages/app/App';
@import '../components/pages/app/App_header';
@import '../components/pages/app/User_header';
@import '../components/pages/auth/signin/Sign_in';
@import '../components/pages/auth/signup/Sign_up';
@import '../components/pages/library/Library';
@import '../components/pages/video_add/Video_add';
@import '../components/pages/single_video/Single_video';


body {
  background: $dark-gray1;
  color: $dark-gray5;
  font-family: 'G', sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'G', sans-serif;
  font-weight: 500;
}

* {
  box-sizing: border-box;
}

a {
  color: $blue2;
  text-decoration: none;
  transition: color .15s ease-in-out;
}

a:hover {
  color: $blue4;
  text-decoration: none;
}

a:active {
  color: $blue5;
  text-decoration: none;
}

.app_container {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  overflow: hidden;
}

.page-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.pt-button.red-button {
  background: $red2 !important;
  box-shadow: 0 8px 19px 0 rgba(16,22,26,0.54);
  color: $white;
  border-radius: 0;
  padding: 10px 26px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-family: "G", sans-serif;
  font-size: 11px;
  transition: background .15s ease-in-out;

  &:hover {
    background: $red3 !important;
  }

  &:active {
    background: $red1  !important;
  }

  &:before {
    position: relative;
    top: 1px;
    color: $white  !important;
  }
}

.pt-button.green-button {
  background: $green4 !important;
  color: $white;
  border-radius: 0;
  padding: 10px 26px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-family: "G", sans-serif;
  font-size: 11px;
  transition: background .15s ease-in-out;
  box-shadow: 0 2px 34px 0 rgba(21,179,113,0.25) !important;

  &:hover {
    background: $green3 !important;
  }

  &:active {
    background: $green5  !important;
  }

  &:before {
    position: relative;
    top: 1px;
    color: $white  !important;
  }
}
