.page-video-add {
  overflow-y: auto;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom:0;

  .video-add-content {
    width: 1000px;
    margin: 40px auto;

    .video-add-form {
      position: relative;
      border-bottom: 1px solid $dark-gray3;

      input.pt-input {
        border: none;
        box-shadow: none;
        padding: 35px 50px 35px 0;
        background: none;
        font-size: 22px;
        font-weight: 300;
      }

      h1.video-add-form-title {
        color: $white;
        font-weight: 300;
        letter-spacing: 3px;
        text-transform: uppercase;
        font-size: 11px;
      }

      .button_submit {
        display: none;
      }

      .input_error, .input_valid {
        display: none;
      }

      .clear-button {
        position: absolute;
        top: 29px;
        right: 0;
        cursor: pointer;

        svg {
          path {
            fill: $gray1;
            transition: all .15s;
          }
        }

        &:hover {
          svg {
            path {
              fill: $white;
            }
          }
        }
      }
    }
  }

  .loaded-video-container {
    display: flex;
    margin: 35px 0 0 0;

    .loaded-video-player-area {
      width: 680px;
      height: 380px;
      margin: 0 30px 0 0;
      flex-shrink: 0;
      background: $black;
      box-shadow: 0 10px 50px 0 rgba(16,22,26,0.54);

      .video-container {
        display: block;
        width: 680px;
        height: 380px;
      }
    }

    .video-description {
      margin: 35px 0 50px 0;

      h2.video-title {
        font-weight: 500;
        font-size: 20px;
        margin: 0 0 10px 0;
        letter-spacing: 0.2px;
        line-height: 22px;
      }

      .video-metadata {
        display: flex;
        justify-content: space-between;
        font-weight: 300;
        letter-spacing: 0.3px;

        ul.video-main-details {
          li {
            float: left;
            display: flex;
            font-size: 11px;
            height: 20px;
            align-items: center;
            color: $gray3;
            margin: 0 20px 0 0;
            position: relative;

            &:after {
              content: "●";
              font-size: 7px;
              color: $dark-gray4;
              position: absolute;
              right: -12px;
              top: 5px;
            }

            &:last-child {
              &:after {
                display: none;
              }
            }

            &.detail-channel {

              .channel-avatar-container {
                display: flex;
                align-items: center;
                height: 20px;

                .person-name {
                  color: $white;
                  border-bottom: 1px solid transparent;
                }

                &:hover {
                  .person-name {
                    border-bottom: 1px solid $white;
                  }
                }
              }

              .channel-avatar {
                display: block;
                margin: 0 5px 0 0;

                img {
                  border-radius: 100px;
                  width: 20px;
                  height: 20px;
                }
              }
            }
          }
        }

        ul.video-stats {

          li.single-stat {
            float: left;
            display: flex;
            font-size: 11px;
            height: 20px;
            align-items: center;
            color: $gray3;
            margin: 0 0 0 20px;

            .pt-icon {
              font-size: 16px;
              margin: 0 5px 0 0;
              position: relative;
              top: -2px;
            }
          }
        }
      }
    }

    .loaded-video-info-area{
      flex-grow: 1;

      h1.video-info-area-title {
        font-size: 16px;
        line-height: 20px;
        font-weight: 300;
        margin: 0 0 20px 0;
      }

      p {
        font-size: 12px;
        margin: 20px 0 0 0;
        color: $gray3;
        font-weight: 300;

        a {
          color: $white;

          &:hover {
            border-bottom: 1px solid $white;
          }
        }
      }

      ul.video-info-area-list {
        color: $gray3;
        font-size: 12px;
        margin: 0 0 20px 0;

        li {
          margin: 0 0 10px 20px;
          display: block;
          font-weight: 300;
          position: relative;

          &:before {
            content: "—";
            position: absolute;
            left: -20px;
            top: 0;
            opacity: .3;
          }
        }
      }
    }
  }
}
