.video-player-timeline {
  background: $black;
  display: flex;

  .player-time-controls {
    flex-shrink: 0;
    width: 165px;
    display: flex;
    align-items: center;
    position: relative;
    top: -3px;

    .player-controls-container {
      margin: 0 0 0 5px;
      position: relative;

      .pt-button::before {
        color: $white;
      }
    }

    .player-time-container {
      font-size: 14px;
      font-family: "Roboto", sans-serif;
      margin: 0 0 0 5px;

      .time-container {

        .current-time {
          margin: 0 5px 0 0
        }
        .time-divider {
          color: $white;
          opacity: 0.4;
          font-weight: 300;
        }
        .duration-time {
          margin: 0 0 0 5px;
          color: $white;
          opacity: 0.4;
          font-weight: 300;
        }
      }
    }
  }

  .player-timeline {
    height: 40px;
    flex-grow: 1;
  }

  .timeline-container {
    position: relative;
    width: 735px;
    cursor: pointer;


    .progress-bar-wrapper {
      top: -5px;
      left: 0;
      bottom: -5px;
      position: absolute;
      z-index: 1;
      width: 735px;

      .progress-bar {
        top: 0;
        left: 0;
        height: 100%;
        background: $dark-gray2;
        z-index: 1;
        width: 0;
        min-width: 1px !important;
        display: none;

        &.active {
          display: block;
        }
      }

      .progress-bar-hover {
        top: 0;
        left: 0;
        height: 100%;
        background: $gray1;
        position: absolute;
        z-index: 2;
        width: 0;
        opacity: 0.15;
      }
    }

    .hover-time {
      position: absolute;
      top: -20px;
      width: 36px;
      margin-left: -18px;
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 2;

      .time-container {
        background: $red2;
        padding: 5px 7px;
        font-size: 11px;
        font-family: "Roboto", sans-serif;
        color: $white;
      }
    }

    .cursor {
      bottom: -5px;
      // border-left: 1px solid $gray5;
      position: absolute;
      width: 1px;
      top: -5px;
      z-index: 3;
      opacity: 0.4;

    }

    .time-list {
      display: flex;
      height: 35px;
      align-items: center;
      position: relative;
      // position: absolute;
      z-index: 2;
      // top: 0;
      // right: 20px;
      // left: 0;
      // width: 100%;
      // z-index: 1;
      color: $white;
      opacity: .4;
      font-weight: 300;
      user-select: none;

      .time {
        float: left;
        width: 35px;
        font-size: 11px;
        margin-right: 35px;
        font-size: 10px;
        font-family: "Roboto", sans-serif;
        position: relative;

        span {
          // margin: 0 0 0 3px;
        }

        // &:before {
        //   content: "●";
        //   position: absolute;
        //   right: -17px;
        //   top: 2px;
        //   font-size: 7px;
        //   color: $dark-gray5;
        // }

        &:first-child {
          span {
            margin: 0;
          }
        }

        &:last-child {
          margin: 0;
        }
      }
    }
  }
}
